
<nav class='header', id='myHeader'>
    <ul class='header navbar'>
      <li class='header nav'><a href='/'>Home</a></li>
      <li class='header nav'><a href="/favorites">Favorites</a></li>
      <li class='header nav'><a href='/about'>About</a></li>
      <li class='header nav'><a href="/contact">Contact</a></li>
    </ul>
</nav>
