
<h3>About the Author</h3>

<div class="aboutMe">
  <p>My name is Jered Abate, and I created this small website as a tribute to a video game I am very fond of.</p>
  <p>This website was a project for a web development class I am currently taking at Oregon State University.</p>
  <p>I would like to use this space and opportunity to tell you a little about myself.</p>
  <p>I feel like it's very hard to describe one's self in such a short time since it took exactly one lifetime to get to where I am now. I guess I'll just start by listing out things about myself: I am 29 years old, getting my second bachelor's degree in Computer Science, my first degree
   was in Industrial and Systems Engineering from Texas A&M University where I also recieved a minor in Mathematics. I have a love for the complex and I am very competitive, thus, I am infatuated with board games. My plan is to graduate from a top research institution with a Ph.D. in computer science
   with the ultimate goal of becoming a professor, and to bring about the future of technology and mankind. My dream is to create an AI that can reason and eventually prove mathematical theories. It would be fantastic to create software that can solve the Millenium Prize Problems. Very lofty I know.</p>
  <p>Of course, none of these goals would ever be more than a dream if it were not for my wife. She is the most amazing person I have ever met. She is selfless and caring. Strong and smart. Just and reasonable. She puts strangers before herself and always fights for the people who can't fight for themselves.
   She inspires me eveyday to work harder. She's my hot sauce, and I love her. So here are a few pictures of us. Also my resume to fulfill requirements.</p>
   <a href='pdf/resume.pdf' download><button class='resumeBtn' type="button" name="resume">Resume</button></a>
</div>

<div class='scrollBox'>
  <ul>
    <li>
      <img src="images/IMG-1465.jpg" alt="Throne">
    </li>
    <li>
      <img src="images/IMG-1458.jpg" alt="WeddingFields">
    </li>
    <li>
      <img src="images/IMG-1867.jpg" alt="Science">
    </li>
    <li>
      <img src="images/IMG-9096.jpg" alt="Snacks">
    </li>
    <li>
      <img src="images/IMG-7029.jpg" alt="OregonCoast">
    </li>
    <li>
      <img src="images/IMG-4278.jpg" alt="FunInBoston">
    </li>
    <li>
      <img src="images/IMG-3150.jpg" alt="Corvallis">
    </li>
    <li>
      <img src="images/IMG-2309.jpg" alt="PortlandME">
    </li>
  </ul>
</div>
