<div>
  <h2 class="explanation">Let's Connect!</h2>
</div>

<div class="formStyle">
  <form class="" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
    <ul>
      <li>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" maxlength="100">
        <span>Enter your first name here</span>
      </li>
      <li>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" maxlength="100">
        <span>Enter your last name here</span>
      </li>
      <li>
        <label for="email">Email</label>
        <input type="email" name="email" maxlength="100">
        <span>Enter a valid email address</span>
      </li>
      <li class="submitButton">
        <input type="submit" value="Submit">
      </li>
    </ul>
  </form>
</div>
