<div class="favorites">
  <h3>My Favorite Pokemon</h3>
</div>

<div class="panelContainer">
  <ul class='panels'>
    <li class='panel jolteon'>
      <h5>Jolteon</h5>
      <a href='https://pokemondb.net/pokedex/jolteon'>
      <div class="imageContainer jolteon">
        <img class='panelImage' src="https://img.pokemondb.net/sprites/black-white/anim/normal/jolteon.gif" alt="Jolteon">
      </div>
    </a>
    </li>
    <li class='panel weezing'>
      <h5>Weezing</h5>
      <a href='https://pokemondb.net/pokedex/weezing'>
      <div class="imageContainer weezing">
        <img class='panelImage' src="https://img.pokemondb.net/sprites/black-white/anim/normal/weezing.gif" alt="Weezing">
      </div>
    </a>
    </li>
    <li class='panel venusaur'>
      <h5>Venusaur</h5>
      <a href='https://pokemondb.net/pokedex/venusaur'>
      <div class="imageContainer venusaur">
        <img class='panelImage' src="https://img.pokemondb.net/sprites/black-white/anim/normal/venusaur-f.gif" alt="Venusaur">
      </div>
      </a>
    </li>
    <li class='panel ninetales'>
      <h5>Ninetales</h5>
      <a href='https://pokemondb.net/pokedex/ninetales'>
      <div class="imageContainer ninetales">
        <img class='panelImage' src="https://img.pokemondb.net/sprites/black-white/anim/normal/ninetales.gif" alt="Ninetales">
      </div>
      </a>
    </li>
    <li class='panel magneton'>
      <h5>Magneton</h5>
      <a href='https://pokemondb.net/pokedex/magneton'>
      <div class="imageContainer magneton">
        <img class='panelImage' src="https://img.pokemondb.net/sprites/black-white/anim/normal/magneton.gif" alt="Magneton">
      </div>
      </a>
    </li>
    <li class='panel kingler'>
      <h5>Kingler</h5>
      <a href='https://pokemondb.net/pokedex/kingler'>
      <div class="imageContainer kingler">
        <img class='panelImage' src="https://img.pokemondb.net/sprites/black-white/anim/normal/kingler.gif" alt="Kingler">
      </div>
      </a>
    </li>
  </ul>
</div>
